In [2]:
import plotly.express as px

In [3]:
import requests
from pandas.io.json import json_normalize

url = "https://think.cs.vt.edu/corgis/json/airlines/airlines.json"
resp = requests.get(url=url)

df = json_normalize(resp.json())
df.head()

,airport.code,airport.name,carrier.code,carrier.name,statistics.# of delays.carrier,statistics.# of delays.late aircraft,statistics.# of delays.national aviation system,statistics.# of delays.security,statistics.# of delays.weather,statistics.flights.cancelled,...,statistics.flights.total,statistics.minutes delayed.carrier,statistics.minutes delayed.late aircraft,statistics.minutes delayed.national aviation system,statistics.minutes delayed.security,statistics.minutes delayed.total,statistics.minutes delayed.weather,time.label,time.month,time.year
0,ATL,"Atlanta, GA: Hartsfield-Jackson Atlanta Intern...",AA,American Airlines Inc.,34,18,105,2,28,5,...,752,1367,1269,3817,139,8314,1722,2003/6,6,2003
1,BOS,"Boston, MA: Logan International",AA,American Airlines Inc.,69,46,84,2,24,7,...,1266,4201,3043,3067,45,12139,1783,2003/6,6,2003
2,BWI,"Baltimore, MD: Baltimore/Washington Internatio...",AA,American Airlines Inc.,18,25,38,0,20,1,...,593,1058,1600,1708,0,5698,1332,2003/6,6,2003
3,CLT,"Charlotte, NC: Charlotte Douglas International",AA,American Airlines Inc.,17,10,10,2,10,4,...,203,968,653,558,127,3048,742,2003/6,6,2003
4,DCA,"Washington, DC: Ronald Reagan Washington National",AA,American Airlines Inc.,43,26,53,0,25,5,...,947,2048,1566,2767,3,7868,1484,2003/6,6,2003