## How to Get the Column Names from a Pandas Dataframe
In this short post, we will learn 5 methods to get the column names from Pandas dataframe. In it's simplest for we will get the column names by printing pandas.DataFrame.columns. For example, if our dataframe is called df we just type print(df.columns) to get all the columns of the pandas dataframe.

## Importing Data from a CSV File
First, before learning the 5 methods to obtain the column names in Pandas, we need some example data. In this post, we will use Pandas read_csv to import data from a CSV file (from this URL). Now, the first step is, as usual, when working with Pandas to import Pandas as pd.

In [5]:
import pandas as pd

df = pd.read_csv('https://vincentarelbundock.github.io/Rdatasets/csv/boot/aids.csv',
                index_col=0)

df.head()

   year  quarter  delay  dud  time  y
1  1983        3      0    0     1  2
2  1983        3      2    0     1  6
3  1983        3      5    0     1  0
4  1983        3      8    0     1  1
5  1983        3     11    0     1  1

### 1. Using the columns method
Now, one of the simplest methods to get all the columns from a Pandas dataframe is, of course, using the columns method and printing it. In the code chunk below, we are doing exactly this.

In [8]:
print(type(df.columns))

<class 'pandas.core.indexes.base.Index'>

### 2. Using the keys method
Second, we can get the exact same result by using the keys() method. That is, we will get the column names by the following code as well.

In [7]:
print(df.keys())

Index(['year', 'quarter', 'delay', 'dud', 'time', 'y'], dtype='object')

### 3. Get Column Names by Iterating of the Columns
In the third method, we will simply iterate over the columns to get the column names. As you may notice, we are again using the columns method.

In [9]:
for col_name in df.columns: 
    print(col_name)

year
quarter
delay
dud
time
y

In [ ]:
### 4.