# Six ways to reverse pandas data frame
We start by changing the first column with the last column and continue with reversing the order completely. After we learned how to do that we continue by reversing the order of the rows. 
First som data is created.

In [46]:
import pandas as pd
import numpy as np

distracted = [1 for i in xrange(15)]
normal_perf = [0 for i in xrange(15)]

sex = ['Male' if i%2 == 0 else 'Female' for i in xrange(30)]

rt_distracted = np.random.normal(1660, 100, 15)
rt_normal_perf = np.random.normal(1054, 97, 15)

accuracy_distracted = np.random.binomial(1, .79, 15)
accuracy_normal_perf = np.random.binomial(1, .87, 15)


rt = np.concatenate((rt_distracted, rt_normal_perf))
acc = np.concatenate((accuracy_distracted, accuracy_normal_perf))
distracted.extend(normal_perf)

subject_id = [i for i in xrange(1,31)]

data = {'Sub_id':subject_id, 'Condition':distracted, 'RT':rt, 
         'Accuracy':acc, 'Gender':sex}
         
data_frame = pd.DataFrame(data)

#Print the first 5 rows
data_frame.head()

   Accuracy  Condition  Gender           RT  Sub_id
0         1          1    Male  1741.886766       1
1         1          1  Female  1626.352779       2
2         0          1    Male  1586.273972       3
3         1          1  Female  1638.264974       4
4         0          1    Male  1828.347774       5

# Reversing by column

First are we gong to change places of the first ("Accuracy) and last column ("Sub_id").
We start creating a list of the column names and swapping the first item to the last:

In [47]:
columns = data_frame.columns.tolist()
columns = columns[-1:] + columns[:-1]

Then we continue with using the created list and the columns in the data frame will change places.

In [48]:
data_frame = data_frame[columns]
data_frame.head()

   Sub_id  Accuracy  Condition  Gender           RT
0       1         1          1    Male  1741.886766
1       2         1          1  Female  1626.352779
2       3         0          1    Male  1586.273972
3       4         1          1  Female  1638.264974
4       5         0          1    Male  1828.347774

Sortin the data frame ascending again (i.e., alphabetical):

In [49]:
data_frame = data_frame.sort_index(axis=1 ,ascending=True)
data_frame.head()

   Accuracy  Condition  Gender           RT  Sub_id
0         1          1    Male  1741.886766       1
1         1          1  Female  1626.352779       2
2         0          1    Male  1586.273972       3
3         1          1  Female  1638.264974       4
4         0          1    Male  1828.347774       5

Complete reversal of data frame. The second line reverses the list. Third, the data frame is reversed using that list.

In [50]:
columns = data_frame.columns.tolist()
columns = columns[::-1]
data_frame = data_frame[columns]
data_frame.head()

   Sub_id           RT  Gender  Condition  Accuracy
0       1  1741.886766    Male          1         1
1       2  1626.352779  Female          1         1
2       3  1586.273972    Male          1         0
3       4  1638.264974  Female          1         1
4       5  1828.347774    Male          1         0


If we want to reverse the order of the rows. We start by re-order the data frame ascending:

In [51]:
data_frame = data_frame.sort_index(axis=1 ,ascending=True)

## Using iloc

In [52]:
data_frame = data_frame.iloc[::-1]
data_frame.head()

    Accuracy  Condition  Gender           RT  Sub_id
29         1          0  Female  1084.488534      30
28         1          0    Male  1069.937082      29
27         1          0  Female   950.345438      28
26         1          0    Male   912.428146      27
25         1          0  Female  1084.568746      26

## Using sort_index by using the axis 0 (row).

In [53]:
data_frame = data_frame.sort_index(ascending=True, axis=0)
data_frame.head()

   Accuracy  Condition  Gender           RT  Sub_id
0         1          1    Male  1741.886766       1
1         1          1  Female  1626.352779       2
2         0          1    Male  1586.273972       3
3         1          1  Female  1638.264974       4
4         0          1    Male  1828.347774       5

## Using reindex

In [54]:
data_frame = data_frame.reindex(index=data_frame.index[::-1])
data_frame.head()

    Accuracy  Condition  Gender           RT  Sub_id
29         1          0  Female  1084.488534      30
28         1          0    Male  1069.937082      29
27         1          0  Female   950.345438      28
26         1          0    Male   912.428146      27
25         1          0  Female  1084.568746      26