In [16]:
import pandas as pd

In [21]:
url = 'https://vincentarelbundock.github.io/Rdatasets/csv/psych/affect.csv'
df1 = pd.read_csv(url, index_col=0)

df1.columns = pd.MultiIndex.from_arrays([pd.RangeIndex(len(df1.columns)), df1.columns])

df1.index = pd.RangeIndex(len(df1.index))

df1.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
,Study,Film,ext,neur,imp,soc,lie,traitanx,state1,EA1,TA1,PA1,NA1,EA2,TA2,PA2,NA2,state2,MEQ,BDI
0,maps,3,18.0,9.0,7.0,10.0,3.0,24.0,22.0,24.0,14.0,26.0,2.0,6.0,5.0,7.0,4.0,NaN,NaN,0.047619
1,maps,3,16.0,12.0,5.0,8.0,1.0,41.0,40.0,9.0,13.0,10.0,4.0,4.0,14.0,5.0,5.0,NaN,NaN,0.333333
2,maps,3,6.0,5.0,3.0,1.0,2.0,37.0,44.0,1.0,14.0,4.0,2.0,2.0,15.0,3.0,1.0,NaN,NaN,0.190476
3,maps,3,12.0,15.0,4.0,6.0,3.0,54.0,40.0,5.0,15.0,1.0,0.0,4.0,15.0,0.0,2.0,NaN,NaN,0.384615
4,maps,3,14.0,2.0,5.0,6.0,3.0,39.0,67.0,12.0,20.0,7.0,13.0,14.0,15.0,16.0,13.0,NaN,NaN,0.380952

In [32]:
## Select the first row

In [33]:
df1.iloc[0]

Study           maps
Film               3
ext               18
neur               9
imp                7
soc               10
lie                3
traitanx          24
state1            22
EA1               24
TA1               14
PA1               26
NA1                2
EA2                6
TA2                5
PA2                7
NA2                4
state2           NaN
MEQ              NaN
BDI         0.047619
Name: 1, dtype: object

In [34]:
## Select the last row

In [36]:
df1.iloc[-1]

Study       flat
Film           3
ext           14
neur           7
imp            2
soc           10
lie            2
traitanx      35
state1        38
EA1            1
TA1           10
PA1            3
NA1            0
EA2            4
TA2           10
PA2            3
NA2            0
state2        35
MEQ           39
BDI          NaN
Name: 330, dtype: object

In [37]:
df1.iloc[[-1]]

,Study,Film,ext,neur,imp,soc,lie,traitanx,state1,EA1,TA1,PA1,NA1,EA2,TA2,PA2,NA2,state2,MEQ,BDI
330,flat,3,14.0,7.0,2.0,10.0,2.0,35.0,38.0,1.0,10.0,3.0,0.0,4.0,10.0,3.0,0.0,35.0,39.0,NaN

In [9]:
df1.iloc[[7, 2, 0]]

,Study,Film,ext,neur,imp,soc,lie,traitanx,state1,EA1,TA1,PA1,NA1,EA2,TA2,PA2,NA2,state2,MEQ,BDI
8,maps,2,18.0,10.0,7.0,9.0,2.0,32.0,41.0,17.0,11.0,10.0,1.0,19.0,15.0,16.0,0.0,NaN,NaN,0.000000
3,maps,3,6.0,5.0,3.0,1.0,2.0,37.0,44.0,1.0,14.0,4.0,2.0,2.0,15.0,3.0,1.0,NaN,NaN,0.190476
1,maps,3,18.0,9.0,7.0,10.0,3.0,24.0,22.0,24.0,14.0,26.0,2.0,6.0,5.0,7.0,4.0,NaN,NaN,0.047619

In [25]:
df1.iloc[0, 0]

'maps'

In [10]:
df1.iloc[10:15]

,Study,Film,ext,neur,imp,soc,lie,traitanx,state1,EA1,TA1,PA1,NA1,EA2,TA2,PA2,NA2,state2,MEQ,BDI
11,maps,1,13.0,9.0,3.0,9.0,3.0,43.0,39.0,14.0,13.0,10.0,2.0,9.0,21.0,3.0,7.0,NaN,NaN,0.380952
12,maps,4,14.0,1.0,3.0,12.0,6.0,33.0,25.0,24.0,15.0,23.0,2.0,27.0,11.0,29.0,0.0,NaN,NaN,0.142857
13,maps,4,15.0,2.0,4.0,10.0,5.0,23.0,32.0,7.0,14.0,1.0,0.0,11.0,17.0,4.0,0.0,NaN,NaN,0.000000
14,maps,4,19.0,3.0,7.0,11.0,0.0,23.0,23.0,21.0,13.0,20.0,1.0,23.0,18.0,21.0,2.0,NaN,NaN,0.000000
15,maps,1,15.0,7.0,4.0,10.0,2.0,27.0,28.0,22.0,15.0,16.0,1.0,16.0,18.0,12.0,4.0,NaN,NaN,0.047619

In [ ]:
df1.iloc[:, 0]

In [39]:
df1.iloc[:, 0:6]

1      maps
2      maps
3      maps
4      maps
5      maps
       ...
326    flat
327    flat
328    flat
329    flat
330    flat
Name: Study, Length: 330, dtype: object

In [41]:
df1.iloc[0, 0]

'maps'

In [40]:
df1.iloc[3, [1, 2, 3]]

Film     3
ext     12
neur    15
Name: 4, dtype: object

In [42]:
df1.iloc[0:5, 3:7]

   neur  imp   soc  lie
1   9.0  7.0  10.0  3.0
2  12.0  5.0   8.0  1.0
3   5.0  3.0   1.0  2.0
4  15.0  4.0   6.0  3.0
5   2.0  5.0   6.0  3.0

In [13]:
bool_i = [False, False, True, True, True, 
 True, True, True, True, True, 
 True, True, True, True, True,
 True, True, True, False, False]

df.iloc[3:7, bool_i]

,ext,neur,imp,soc,lie,traitanx,state1,EA1,TA1,PA1,NA1,EA2,TA2,PA2,NA2,state2
4,12.0,15.0,4.0,6.0,3.0,54.0,40.0,5.0,15.0,1.0,0.0,4.0,15.0,0.0,2.0,NaN
5,14.0,2.0,5.0,6.0,3.0,39.0,67.0,12.0,20.0,7.0,13.0,14.0,15.0,16.0,13.0,NaN
6,6.0,15.0,2.0,4.0,5.0,51.0,38.0,9.0,14.0,5.0,1.0,7.0,12.0,2.0,2.0,NaN
7,15.0,12.0,4.0,9.0,3.0,40.0,32.0,1.0,5.0,7.0,0.0,13.0,14.0,8.0,8.0,NaN

,Study,Film,ext,neur,imp,soc,lie,traitanx,state1,EA1,TA1,PA1,NA1,EA2,TA2,PA2,NA2,state2,MEQ,BDI
1,maps,3,18.0,9.0,7.0,10.0,3.0,24.0,22.0,24.0,14.0,26.0,2.0,6.0,5.0,7.0,4.0,NaN,NaN,0.047619
2,maps,3,16.0,12.0,5.0,8.0,1.0,41.0,40.0,9.0,13.0,10.0,4.0,4.0,14.0,5.0,5.0,NaN,NaN,0.333333
3,maps,3,6.0,5.0,3.0,1.0,2.0,37.0,44.0,1.0,14.0,4.0,2.0,2.0,15.0,3.0,1.0,NaN,NaN,0.190476
4,maps,3,12.0,15.0,4.0,6.0,3.0,54.0,40.0,5.0,15.0,1.0,0.0,4.0,15.0,0.0,2.0,NaN,NaN,0.384615
5,maps,3,14.0,2.0,5.0,6.0,3.0,39.0,67.0,12.0,20.0,7.0,13.0,14.0,15.0,16.0,13.0,NaN,NaN,0.380952

In [23]:
url = 'https://vincentarelbundock.github.io/Rdatasets/csv/DAAG/nasshead.csv'
df2 = pd.read_csv(url, index_col=0)

shortname                    case
SASname                  case.seq
longname     CASE SEQUENCE NUMBER
Name: 3, dtype: object

In [27]:
type(df2.loc[1])

pandas.core.series.Series

In [60]:
df2.loc[[1]]

  shortname   SASname            longname
1   yearVeh  vehicle.  VEHICLE.MODEL.YEAR

In [61]:
df2.loc[1:5]

  shortname   SASname                      longname
1   yearVeh  vehicle.            VEHICLE.MODEL.YEAR
2       psu  primary.  PRIMARY SAMPLING UNIT NUMBER
3      case  case.seq          CASE SEQUENCE NUMBER
4    bSpeed  barrier.      BARRIER EQUIVALENT SPEED
5       vBT  vehicleb             VEHICLE BODY TYPE

In [62]:
df2.loc[[1, 6, 11, 21, 51]]

   shortname   SASname                   longname
1    yearVeh  vehicle.         VEHICLE.MODEL.YEAR
6     delVhi  estimate  ESTIMATED HIGHEST DELTA V
11      vnum  vehiclen             VEHICLE NUMBER
21  smallcar  smallcar                   smallcar
51   othside   othside                    othside

In [64]:
df2.loc[:, 'SASname']

1     vehicle.
2     primary.
3     case.seq
4     barrier.
5     vehicleb
6     estimate
7     basis.fo
8     total.de
9     vehiclem
10    police.r
11    vehiclen
12     yearacc
13       dvcat
14         car
15     minivan
16     stwagon
17         suv
18      pickup
19         van
20    largecar
21    smallcar
22    national
23    proper.u
24    age.of.o
25    air.bag.
26    airbagsy
27    airbags0
28    type.of.
29    time.to.
30    height.o
31    hospital
32    injury.s
33    properus
34    occupant
35    occupan0
36    occupan1
37    occupan2
38    treatmen
39    occupan3
40        dead
41      airbag
42    seatbelt
43        male
44      driver
45    directio
46    deformat
47         old
48       lowsp
49     frontal
50     occside
51     othside
52        back
53      nobelt
54      highsp
55      deploy
56       abcat
Name: SASname, dtype: object

In [65]:
df2.loc[1:5, ['SASname', 'longname']]

    SASname                      longname
1  vehicle.            VEHICLE.MODEL.YEAR
2  primary.  PRIMARY SAMPLING UNIT NUMBER
3  case.seq          CASE SEQUENCE NUMBER
4  barrier.      BARRIER EQUIVALENT SPEED
5  vehicleb             VEHICLE BODY TYPE

In [70]:
df1.loc[1:5, 'Film':'EA1']

   Film   ext  neur  imp   soc  lie  traitanx  state1   EA1
1     3  18.0   9.0  7.0  10.0  3.0      24.0    22.0  24.0
2     3  16.0  12.0  5.0   8.0  1.0      41.0    40.0   9.0
3     3   6.0   5.0  3.0   1.0  2.0      37.0    44.0   1.0
4     3  12.0  15.0  4.0   6.0  3.0      54.0    40.0   5.0
5     3  14.0   2.0  5.0   6.0  3.0      39.0    67.0  12.0

In [72]:
df1.loc[df1['Study'] == 'flat']

,Study,Film,ext,neur,imp,soc,lie,traitanx,state1,EA1,TA1,PA1,NA1,EA2,TA2,PA2,NA2,state2,MEQ,BDI
161,flat,4,7.0,19.0,5.0,2.0,3.0,60.0,45.0,2.0,14.0,2.0,2.0,3.0,15.0,3.0,0.0,48.0,49.0,NaN
162,flat,1,10.0,16.0,3.0,4.0,1.0,52.0,53.0,3.0,18.0,0.0,3.0,7.0,17.0,0.0,2.0,55.0,43.0,NaN
163,flat,1,11.0,7.0,2.0,9.0,3.0,39.0,27.0,21.0,11.0,18.0,1.0,23.0,21.0,14.5,15.0,51.0,50.0,NaN
164,flat,1,10.0,22.0,4.0,4.0,1.0,53.0,68.0,7.0,22.0,6.0,14.0,14.0,21.0,12.0,20.0,71.0,49.0,NaN
165,flat,1,8.0,6.0,1.0,7.0,2.0,38.0,38.0,4.0,8.0,3.0,0.0,2.0,8.0,0.0,3.0,35.0,39.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
326,flat,1,17.0,16.0,5.0,10.0,1.0,59.0,38.0,0.0,7.0,1.0,7.0,0.0,14.0,1.0,9.0,46.0,28.0,NaN
327,flat,3,18.0,6.0,8.0,9.0,1.0,37.0,43.0,8.0,8.0,1.0,2.0,20.0,13.0,14.0,1.0,43.0,49.0,NaN
328,flat,3,16.0,22.0,8.0,6.0,1.0,58.0,41.0,8.0,15.0,0.0,0.0,9.0,12.0,0.0,0.0,40.0,42.0,NaN
329,flat,3,8.0,10.0,1.0,6.0,2.0,39.0,46.0,5.0,16.0,0.0,6.0,3.0,17.0,1.0,2.0,45.0,41.0,NaN
330,flat,3,14.0,7.0,2.0,10.0,2.0,35.0,38.0,1.0,10.0,3.0,0.0,4.0,10.0,3.0,0.0,35.0,39.0,NaN

In [85]:
df1.loc[(df1['neur'] > 18) & (df1['Study'] == 'flat')]

,Study,Film,ext,neur,imp,soc,lie,traitanx,state1,EA1,TA1,PA1,NA1,EA2,TA2,PA2,NA2,state2,MEQ,BDI
161,flat,4,7.0,19.0,5.0,2.0,3.0,60.0,45.0,2.0,14.0,2.0,2.0,3.0,15.0,3.0,0.0,48.0,49.0,NaN
164,flat,1,10.0,22.0,4.0,4.0,1.0,53.0,68.0,7.0,22.0,6.0,14.0,14.0,21.0,12.0,20.0,71.0,49.0,NaN
176,flat,2,5.0,21.0,2.0,2.0,3.0,56.0,51.0,0.0,17.0,1.5,5.0,7.0,22.0,5.0,6.0,52.0,47.0,NaN
202,flat,3,7.0,20.0,3.0,3.0,2.0,46.0,37.0,8.0,9.0,7.0,1.0,1.0,16.4,7.0,1.9,38.0,38.0,NaN
249,flat,3,2.0,20.0,1.0,0.0,1.0,41.0,45.0,7.0,10.0,4.0,2.0,5.0,8.0,3.0,0.0,40.0,36.0,NaN
254,flat,3,2.0,22.0,2.0,0.0,4.0,71.0,65.0,3.0,24.5,0.0,11.0,0.0,14.0,0.0,0.0,50.0,38.0,NaN
269,flat,3,16.0,23.0,4.0,10.0,3.0,58.0,53.0,6.0,18.0,5.0,8.0,10.0,18.0,14.0,13.0,46.0,42.0,NaN
277,flat,3,13.0,20.0,2.0,9.0,3.0,46.0,45.0,0.0,14.0,1.0,3.0,9.0,14.1,1.0,0.5,36.0,35.0,NaN
278,flat,4,17.0,23.0,6.0,10.0,2.0,38.0,41.0,19.0,18.0,13.0,6.0,10.0,18.0,12.0,6.0,46.0,46.0,NaN
280,flat,4,10.0,21.0,5.0,5.0,2.0,58.0,42.0,5.0,15.0,6.0,3.0,6.0,10.0,7.0,1.0,40.0,41.0,NaN
308,flat,3,5.0,21.0,3.0,2.0,3.0,61.0,54.0,2.0,18.0,0.0,7.0,3.0,14.0,0.0,2.0,52.0,42.0,NaN
328,flat,3,16.0,22.0,8.0,6.0,1.0,58.0,41.0,8.0,15.0,0.0,0.0,9.0,12.0,0.0,0.0,40.0,42.0,NaN

In [87]:
df1.loc[(df1['neur'] > 18) & (df1['Study'] == 'flat'), 'EA1':'NA2']

      EA1   TA1   PA1   NA1   EA2   TA2   PA2   NA2
161   2.0  14.0   2.0   2.0   3.0  15.0   3.0   0.0
164   7.0  22.0   6.0  14.0  14.0  21.0  12.0  20.0
176   0.0  17.0   1.5   5.0   7.0  22.0   5.0   6.0
202   8.0   9.0   7.0   1.0   1.0  16.4   7.0   1.9
249   7.0  10.0   4.0   2.0   5.0   8.0   3.0   0.0
254   3.0  24.5   0.0  11.0   0.0  14.0   0.0   0.0
269   6.0  18.0   5.0   8.0  10.0  18.0  14.0  13.0
277   0.0  14.0   1.0   3.0   9.0  14.1   1.0   0.5
278  19.0  18.0  13.0   6.0  10.0  18.0  12.0   6.0
280   5.0  15.0   6.0   3.0   6.0  10.0   7.0   1.0
308   2.0  18.0   0.0   7.0   3.0  14.0   0.0   2.0
328   8.0  15.0   0.0   0.0   9.0  12.0   0.0   0.0

In [96]:
df1.loc[df1['neur'] > 18, 'NewCol'] = 'BIG'
df1.loc[df1['neur'] > 18, 'EA1':'NewCol'].head()

,EA1,TA1,PA1,NA1,EA2,TA2,PA2,NA2,state2,MEQ,BDI,NewCol
30,6.0,13.0,16.0,2.0,19.0,11.0,24.0,0.0,NaN,NaN,0.380952,BIG
66,8.0,16.0,7.0,17.0,16.0,13.0,14.0,0.0,NaN,NaN,1.142857,BIG
98,7.0,23.0,5.0,12.0,7.0,29.0,4.0,13.0,NaN,NaN,0.476190,BIG
126,16.0,10.0,6.0,0.0,16.0,26.0,5.0,9.0,NaN,NaN,0.095238,BIG
130,13.0,9.0,11.0,1.0,13.0,11.0,10.0,1.0,NaN,NaN,0.190476,BIG

In [23]:
df.loc['case']

SASname                 case.seq
longname    CASE SEQUENCE NUMBER
Name: case, dtype: object

In [25]:
df.iloc[0]

SASname                 case.seq
longname    CASE SEQUENCE NUMBER
Name: case, dtype: object

In [27]:
df.iloc[0:7]

            SASname                           longname
shortname
yearVeh    vehicle.                 VEHICLE.MODEL.YEAR
psu        primary.       PRIMARY SAMPLING UNIT NUMBER
case       case.seq               CASE SEQUENCE NUMBER
bSpeed     barrier.           BARRIER EQUIVALENT SPEED
vBT        vehicleb                  VEHICLE BODY TYPE
delVhi     estimate          ESTIMATED HIGHEST DELTA V
basisdelV  basis.fo  BASIS FOR TOTAL DELTA V (HIGHEST)

In [22]:
df1.iloc[1:3, 0:6]

      0    1     2     3    4    5
  Study Film   ext  neur  imp  soc
1  maps    3  16.0  12.0  5.0  8.0
2  maps    3   6.0   5.0  3.0  1.0